include ../blocks/catalog/catalog.pug
include ../blocks/advantages/advantages.pug
include ../blocks/button/button.pug
include ../blocks/catalog-item/catalog-item.pug
include ../blocks/comment/comment.pug
include ../blocks/consultation/consultation.pug
include ../blocks/container/container.pug
include ../blocks/examples-puls/examples-puls.pug
include ../blocks/feedback/feedback.pug
include ../blocks/footer/footer.pug
include ../blocks/form/form.pug
include ../blocks/modal/modal.pug
include ../blocks/header/header.pug
include ../blocks/promo/promo.pug
include ../blocks/slider/slider.pug
include ../blocks/catalog/__filters/catalog__filters.pug
include ../blocks/catalog/__btn-filter/catalog__btn-filter.pug
include ../blocks/catalog/__title/catalog__title.pug
include ../blocks/catalog/__items/catalog__items.pug
include ../blocks/advantages/__item-descr/advantages__item-descr.pug
include ../blocks/advantages/__item-title/advantages__item-title.pug
include ../blocks/advantages/__item-image/advantages__item-image.pug
include ../blocks/catalog-item/__footer/catalog-item__footer.pug
include ../blocks/advantages/__title/advantages__title.pug
include ../blocks/catalog-item/__full-descr/catalog-item__full-descr.pug
include ../blocks/catalog-item/__link-more/catalog-item__link-more.pug
include ../blocks/catalog-item/__min-descr/catalog-item__min-descr.pug
include ../blocks/catalog-item/__old-price/catalog-item__old-price.pug
include ../blocks/catalog-item/__img/catalog-item__img.pug
include ../blocks/catalog-item/__point-full-descr/catalog-item__point-full-descr.pug
include ../blocks/catalog-item/__price/catalog-item__price.pug
include ../blocks/catalog-item/__title/catalog-item__title.pug
include ../blocks/advantages/__items/advantages__items.pug
include ../blocks/comment/__descr/comment__descr.pug
include ../blocks/catalog-item/__new-price/catalog-item__new-price.pug
include ../blocks/comment/__descr-parag/comment__descr-parag.pug
include ../blocks/comment/__content/comment__content.pug
include ../blocks/comment/__img/comment__img.pug
include ../blocks/catalog-item/__content/catalog-item__content.pug
include ../blocks/consultation/__title/consultation__title.pug
include ../blocks/comment/__purchased-products/comment__purchased-products.pug
include ../blocks/advantages/__item/advantages__item.pug
include ../blocks/feedback/__title/feedback__title.pug
include ../blocks/footer/__address/footer__address.pug
include ../blocks/footer/__map/footer__map.pug
include ../blocks/footer/__icon/footer__icon.pug
include ../blocks/footer/__tel/footer__tel.pug
include ../blocks/footer/__info/footer__info.pug
include ../blocks/comment/__name/comment__name.pug
include ../blocks/modal/__title/modal__title.pug
include ../blocks/consultation/__form-title/consultation__form-title.pug
include ../blocks/form/__input/form__input.pug
include ../blocks/header/__contacts/header__contacts.pug
include ../blocks/header/__logo/header__logo.pug
include ../blocks/header/__official/header__official.pug
include ../blocks/header/__phone/header__phone.pug
include ../blocks/modal/__subtitle/modal__subtitle.pug
include ../blocks/footer/__soc-net/footer__soc-net.pug
include ../blocks/promo/__catalogLink/promo__catalogLink.pug
include ../blocks/promo/__item/promo__item.pug
include ../blocks/promo/__item-image/promo__item-image.pug
include ../blocks/promo/__subtitle/promo__subtitle.pug
include ../blocks/promo/__item-descr/promo__item-descr.pug
include ../blocks/promo/__title/promo__title.pug
include ../blocks/modal/__win/modal__win.pug
include ../blocks/slider/__btn-prev/slider__btn-prev.pug
include ../blocks/slider/__current-slide/slider__current-slide.pug
include ../blocks/slider/__slide/slider__slide.pug
include ../blocks/slider/__btn-next/slider__btn-next.pug
include ../blocks/header/__company/header__company.pug
include ../blocks/slider/__slides/slider__slides.pug
include ../blocks/promo/__catalog/promo__catalog.pug
include ../blocks/promo/__items/promo__items.pug
