extends ../layouts/layout.pug
include ../include-blocks.pug

block title 
    title Главная

block content
    +promo()
        +container("promo__container")
            +header()
                +header__logo("#", "./img/icons/logo.png")
                +header__official("Официальный представитель")
                    +header__company("Garmin, Polar, Suunto")
                +header__contacts()
                    +header__phone("+7 (499) 922-89-74")
                    +button("Заказать звонок", "a", "#", "button_size-m header__button")
            +promo__title("Подбор пульсометра")
            +promo__subtitle("С учётом вашего уровня подготовки")
            +promo__items()
                +promo__item()
                    +promo__item-image("./img/icons/clock.png")
                    +promo__item-descr("Время подбора: <br> 10 минут")
                +promo__item()
                    +promo__item-image("./img/icons/cart.png")
                    +promo__item-descr("Бесплатная доставка")
                +promo__item()
                    +promo__item-image("./img/icons/message.png")
                    +promo__item-descr("Ответим <br> на все вопросы")
            +button("Заказать консультацию", "a", "#", "button_size-l promo__button")
            +promo__catalog("Или ")
                +promo__catalogLink("Перефти в каталог", "#")

    +advantages()
        +container("advantages__container")
            +advantages__title("Наши преимущества")
            +advantages__items()
                +advantages__item()
                    +advantages__item-image("./img/icons/cup.png")
                    +advantages__item-title("Делимся опытом")
                    +advantages__item-descr("Наши сотрудники всегда готовы поделиться своим опытом, так как сами бегают полумарафоны, переплыли Босфор, готовятся к соревнованиям по триатлону!")
                +advantages__item()
                    +advantages__item-image("./img/icons/heart.png")
                    +advantages__item-title("Заботимся о здоровье")
                    +advantages__item-descr("Мы работаем для того, чтобы Ваши занятия спортом шли на пользу Вашему здоровью и были в радость Вам и Вашим близким!")
                +advantages__item()
                    +advantages__item-image("./img/icons/shoe.png")
                    +advantages__item-title("Учим бегать")
                    +advantages__item-descr("Помогаем с обучением правильной технике бега! Дружим с крупнейшей школой бега в России - I LOVE RUNNING.")

    +consultation()
        +container("consultation__container")
            +consultation__title("Получите бесплатную консультацию по подбору пульсометра")
            +consultation__form-title("Просто заполните форму заявки и мы перезвоним вам в течении 10 минут")
            +form("#", "post", "multipart/form-data", "consultation__form")
                +form__input("text", "Ваше имя", "name")
                +form__input("number", "Ваш телефон", "phone")
                +form__input("email", "Ваш E-mail", "email")
                +button("Заказать консультацию", "button", "submit", "consultation__btn-form button_size-l")

    +examples-puls()
        +container("examples-puls__container")
            +slider()
                +slider__btn-prev("./img/icons/arrowPrev.png")
                +slider__current-slide()
                    +slider__slides()
                        +slider__slide("./img/puls1.jpg")
                        +slider__slide("./img/puls2.jpg")
                        +slider__slide("./img/puls3.jpg")
                +slider__btn-next("./img/icons/arrowNext.png")

    +catalog()
        +container("catalog__container")
            +catalog__title("Каталог пульсометров")
            +catalog__filters()
                +catalog__btn-filter("Для фитнеса", "fitness", "1")
                +catalog__btn-filter("Для бега", "running", "2")
                +catalog__btn-filter("Для триатлона", "triathlon", "3")
            +catalog__items()
                +catalog-item("fitness", "catalog__item")
                    +catalog-item__content()
                        +catalog-item__img("./img/product.jpg")
                        +catalog-item__title("Пульсометр Polar FT1")
                        +catalog-item__min-descr("Для первых шагов в тренировках, основанных на сердечном ритме")
                        +catalog-item__link-more("Подробнее")
                    +catalog-item__full-descr("disable")
                        +catalog-item__point-full-descr("Вы услышите звуковое оповещение о нужном пульсе во время тренировки", "catalog-item__point-full-descr_mt-zero")
                        +catalog-item__point-full-descr("Вы увидите информативный графический индикатор целевых тренировочных зон пульса")
                        +catalog-item__point-full-descr("Также Вы увидите информацию о расходе калорий за тренировку")
                        +catalog-item__point-full-descr("Вы сможете посмотреть данные по 10 тренировкам")
                        +catalog-item__link-more("Назад")
                    +catalog-item__footer()
                        +catalog-item__price()
                            +catalog-item__old-price("4 750 руб.")
                            +catalog-item__new-price("4 500 руб.")
                        +button("Купить", "a", "#", "button_size-s")
                +catalog-item("fitness", "catalog__item")
                    +catalog-item__content()
                        +catalog-item__img("./img/product.jpg")
                        +catalog-item__title("Пульсометр Suunto M2")
                        +catalog-item__min-descr("Пульсометр начального уровня с комфортным тканевым ремешком")
                        +catalog-item__link-more("Подробнее")
                    +catalog-item__full-descr("disable")
                        +catalog-item__point-full-descr("Вы услышите звуковое оповещение о нужном пульсе во время тренировки", "catalog-item__point-full-descr_mt-zero")
                        +catalog-item__point-full-descr("Вы увидите информативный графический индикатор целевых тренировочных зон пульса")
                        +catalog-item__point-full-descr("Также Вы увидите информацию о расходе калорий за тренировку")
                        +catalog-item__point-full-descr("Вы сможете посмотреть данные по 10 тренировкам")
                        +catalog-item__link-more("Назад")
                    +catalog-item__footer()
                        +catalog-item__price()
                            +catalog-item__old-price("6 990 руб.")
                            +catalog-item__new-price("6 641 руб.")
                        +button("Купить", "a", "#", "button_size-s")
                +catalog-item("triathlon", "catalog__item")
                    +catalog-item__content()
                        +catalog-item__img("./img/product.jpg")
                        +catalog-item__title("Пульсометр Polar FT4")
                        +catalog-item__min-descr("Улучшенная версия Polar FT1, имеющая следующие улучшения:")
                        +catalog-item__link-more("Подробнее")
                    +catalog-item__full-descr("disable")
                        +catalog-item__point-full-descr("Вы услышите звуковое оповещение о нужном пульсе во время тренировки", "catalog-item__point-full-descr_mt-zero")
                        +catalog-item__point-full-descr("Вы увидите информативный графический индикатор целевых тренировочных зон пульса")
                        +catalog-item__point-full-descr("Также Вы увидите информацию о расходе калорий за тренировку")
                        +catalog-item__point-full-descr("Вы сможете посмотреть данные по 10 тренировкам")
                        +catalog-item__link-more("Назад")
                    +catalog-item__footer()
                        +catalog-item__price()
                            +catalog-item__old-price("7 390 руб.")
                            +catalog-item__new-price("7 021 руб.")
                        +button("Купить", "a", "#", "button_size-s")
                +catalog-item("triathlon", "catalog__item")
                    +catalog-item__content()
                        +catalog-item__img("./img/product.jpg")
                        +catalog-item__title("Пульсометр Polar FT1")
                        +catalog-item__min-descr("Для первых шагов в тренировках, основанных на сердечном ритме")
                        +catalog-item__link-more("Подробнее")
                    +catalog-item__full-descr("disable")
                        +catalog-item__point-full-descr("Вы услышите звуковое оповещение о нужном пульсе во время тренировки", "catalog-item__point-full-descr_mt-zero")
                        +catalog-item__point-full-descr("Вы увидите информативный графический индикатор целевых тренировочных зон пульса")
                        +catalog-item__point-full-descr("Также Вы увидите информацию о расходе калорий за тренировку")
                        +catalog-item__point-full-descr("Вы сможете посмотреть данные по 10 тренировкам")
                        +catalog-item__link-more("Назад")
                    +catalog-item__footer()
                        +catalog-item__price()
                            +catalog-item__old-price("4 750 руб.")
                            +catalog-item__new-price("4 500 руб.")
                        +button("Купить", "a", "#", "button_size-s")
                +catalog-item("running", "catalog__item")
                    +catalog-item__content()
                        +catalog-item__img("./img/product.jpg")
                        +catalog-item__title("Пульсометр Suunto M2")
                        +catalog-item__min-descr("Пульсометр начального уровня с комфортным тканевым ремешком")
                        +catalog-item__link-more("Подробнее")
                    +catalog-item__full-descr("disable")
                        +catalog-item__point-full-descr("Вы услышите звуковое оповещение о нужном пульсе во время тренировки", "catalog-item__point-full-descr_mt-zero")
                        +catalog-item__point-full-descr("Вы увидите информативный графический индикатор целевых тренировочных зон пульса")
                        +catalog-item__point-full-descr("Также Вы увидите информацию о расходе калорий за тренировку")
                        +catalog-item__point-full-descr("Вы сможете посмотреть данные по 10 тренировкам")
                        +catalog-item__link-more("Назад")
                    +catalog-item__footer()
                        +catalog-item__price()
                            +catalog-item__old-price("6 990 руб.")
                            +catalog-item__new-price("6 641 руб.")
                        +button("Купить", "a", "#", "button_size-s")
                +catalog-item("running", "catalog__item")
                    +catalog-item__content()
                        +catalog-item__img("./img/product.jpg")
                        +catalog-item__title("Пульсометр Polar FT4")
                        +catalog-item__min-descr("Улучшенная версия Polar FT1, имеющая следующие улучшения:")
                        +catalog-item__link-more("Подробнее")
                    +catalog-item__full-descr("disable")
                        +catalog-item__point-full-descr("Вы услышите звуковое оповещение о нужном пульсе во время тренировки", "catalog-item__point-full-descr_mt-zero")
                        +catalog-item__point-full-descr("Вы увидите информативный графический индикатор целевых тренировочных зон пульса")
                        +catalog-item__point-full-descr("Также Вы увидите информацию о расходе калорий за тренировку")
                        +catalog-item__point-full-descr("Вы сможете посмотреть данные по 10 тренировкам")
                        +catalog-item__link-more("Назад")
                    +catalog-item__footer()
                        +catalog-item__price()
                            +catalog-item__old-price("7 390 руб.")
                            +catalog-item__new-price("7 021 руб.")
                        +button("Купить", "a", "#", "button_size-s")
    +feedback() 
        +container("feedback__container")
            +feedback__title("Отзывы клиентов")
            +comment()
                +comment__img("./img/person1.png")
                +comment__content()
                    +comment__name("Ирина Иванченко")
                    +comment__purchased-products("2 полумарафона")
                    +comment__descr()
                        +comment__descr-parag("Не знала, что себе купить - обратилась к ребятам из RunSmart - подобрали пульсометр, который подошёл именно под мои цели и финансовые возможности. Через некоторое время решила обновить гаджет - не раздумывая обратилась туда же.")
                        +comment__descr-parag("Новые цели - новый гаджет!")
                        +comment__descr-parag("Спасибо, RunSmart!")
            +comment()
                +comment__img("./img/person2.png")
                +comment__content()
                    +comment__name("Иван Сёмочкин")
                    +comment__purchased-products("1 полумарафон")
                    +comment__descr()
                        +comment__descr-parag("Крутая штука-пульсометр. Обычно без них бегал. Оказывается только хуже себе делал. Купил пульсометр, ещё в подарок получил тренировку. Со мной вместе провели первую тренировку, научили пользоваться новым гаджетом. Также объяснили основы анатомии, составили план тренировок на месяц вперёд.")
                        +comment__descr-parag("С ними подготовился к своему первому полумарафону! Спасибо!!!")
            +comment()
                +comment__img("./img/person3.png")
                +comment__content()
                    +comment__name("Юлия Дашкина")
                    +comment__purchased-products("2 полумарафона")
                    +comment__descr()
                        +comment__descr-parag("Долго не могла начать бегать, т.к. до этого несколько раз начинала, но становилось тяжело и я бросала. От друзей услышала о RunSmart и о беге с контролем пульса и решила попробовать.")
                        +comment__descr-parag("Позвонила, ребята поинтересовались моими целями и подобрали очень интересный вариант со скидкой! Теперь бегаю и наслаждаюсь бегом! Пробежала уже 2 полумарафона и несколько более коротких забегов и не намерена останавливаться!")
                        +comment__descr-parag("Спасибо!!!")
    +footer()
        +footer__map()
        +footer__info()
            +footer__address("Москва, Мясницкий проезд, д.3с1")
            +footer__tel("8 (499) 922-89-74")
            +footer__soc-net()
                +footer__icon()
                +footer__icon()
                +footer__icon()

    +modal("disable")
        +modal__win()
            +modal__title("Просто заполните форму заявки")
            +modal__subtitle("и мы перезвоним вам в течении 10 минут")
            +form("#", "post", "multipart/form-data", "form_position-center modal__form")
                    +form__input("text", "Ваше имя", "name", "")
                    +form__input("number", "Ваш телефон", "phone", "")
                    +form__input("email", "Ваш E-mail", "email", "")
                    +button("Заказать консультацию", "button", "submit", "consultation__btn-form button_size-l")

    +modal("disable")
        +modal__win()
            +modal__title("Ваш заказ:")
            +modal__subtitle("Пульсометр Polar FT1")
            +form("#", "post", "multipart/form-data", "form_position-center modal__form")
                    +form__input("text", "Ваше имя", "name", "")
                    +form__input("number", "Ваш телефон", "phone", "")
                    +form__input("email", "Ваш E-mail", "email", "")
                    +button("Купить", "button", "submit", "consultation__btn-form button_size-l")

    +modal("disable")
        +modal__win()
            +modal__title("Спасибо за вашу заявку!")
            +modal__subtitle("Наш менеджер свяжется с вами в ближайшее время!")