//- layout.pug - это часть страницы, содержащая элементы, расположенные на всех страницах 
//- сайта, как то шапка, верхнее меню, подвал, возможно, правый или левый сайдбар.
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/style.css")
        block title
    body 
        block content

        script(src="./js/app.min.js")
